@import "tailwindcss";

@import "@fontsource-variable/open-sans";
@import "@fontsource-variable/montserrat";

@tailwind base;
@tailwind components;
@tailwind utilities;


@utility container {
  margin-inline: auto;
}

@theme {
  --color-primary: #46b455;
  --color-secondary: #4d4d4d;
  --color-tertiary: #253238;
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-montserrat: "Montserrat";
}
