---
import { ClockIcon, StarIcon, MapPinIcon } from "@heroicons/react/24/outline";
---

<div class="bg-primary-dark py-16">
  <div
    class="px-12 container flex flex-col md:flex-row gap-8 justify-between items-center"
  >
    <div class="flex items-center gap-2">
      <ClockIcon className="size-16 text-white stroke-1" />
      <h2 class="text-xl text-montserrat font-thin text-white">
        Available<br />24/7
      </h2>
    </div>
    <div class="flex items-center gap-2">
      <MapPinIcon className="size-16 text-white stroke-1" />
      <h2 class="text-xl text-montserrat font-thin text-white">
        Locally owned and <br />operated in Perth, WA
      </h2>
    </div>
    <div class="flex items-center gap-2">
      <StarIcon className="size-16 text-white stroke-1" />
      <h2 class="text-xl text-montserrat font-thin text-white">
        5 star<br />Google rating
      </h2>
    </div>
  </div>
</div>
