---
---

<div class="relative">
	<div class="container pt-8">
		<img
			src="/logo.png"
			width="192px"
			height="54px"
			alt="WA Dash Logo"
			class="w-48"
		/>
	</div>
	<div class="py-4 sm:py-16 lg:py-48 lg:pr-8">
		<div class="container">
			<div class="flex">
				<div class="my-32 lg:w-1/2 pr-8">
					<h1 class="md:text-7xl text-5xl font-black text-black uppercase mb-2">
						Plumbing & Gas
					</h1>
					<h1
						class="md:text-10xl text-8xl font-black text-primary uppercase mb-8 tracking-wide"
					>
						In a Dash
					</h1>
					<p class="text-2xl leading-relaxed text-secondary">
						We are WA locally owned and operated, servicing all parts of Perth
						and surrounding areas.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div
		class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 md:block hidden"
	>
		<img
			src="/hero.webp"
			alt="WA Dash Hero Image"
			class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full lg:clip-path-hero"
		/>
	</div>
</div>
