---
import type { ACTION_ERROR_CODES, ACTION_QUERY_PARAMS } from "astro:actions"
import { getCollection } from "astro:content"
import { NavigationMenu } from "./NavigationMenu"


const services = await getCollection('services')

const navItems = [
	{ label: 'Home', to: '/' },
	{ label: 'About Us', to: '/about' },
	{label: 'Services', items: services.map(service => ({ label: service.data.title, to: `/services/${service.id}` }))},
	{ label: 'Contact', to: '/#contact'}
]


---

<div>
	WADASH Plumbing and Gas
</div>
<nav>
	<ul>
		{navItems.map(item => (item.items ? <NavigationMenu client:load label={item.label} items={item.items}/> :<li>{item.label}</li>))}
	</ul>
</nav>