---
import ServiceSection from './ServiceSection.astro';
---

<div
	class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 py-32 sm:py-16 lg:py-48 gap-12 container"
>
	<h1
		class="text-5xl font-black lg:row-span-3 lg:col-span-1 md:col-span-2 text-black"
	>
		Our Services
	</h1>
	<ServiceSection
		title="Leaking Taps and Pipes"
		description="Sink tap install, repair and servicing. Identification, locating and repair of leaking pipes."
		><svg
			width="36"
			height="26"
			viewBox="0 0 36 26"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M34.6765 21.6471H34.0589V15.4706C34.0589 14.3239 33.6034 13.2242 32.7925 12.4134C31.9817 11.6026 30.882 11.1471 29.7353 11.1471H24.1765C24.1765 10.328 23.8512 9.54251 23.272 8.96335C22.6928 8.3842 21.9073 8.05883 21.0883 8.05883V6.20589C21.0883 6.04208 21.0232 5.88498 20.9074 5.76914C20.7915 5.65331 20.6344 5.58824 20.4706 5.58824H19.853V4.35295H21.7059C22.1974 4.35295 22.6687 4.15773 23.0162 3.81023C23.3637 3.46274 23.5589 2.99144 23.5589 2.50001C23.5589 2.00857 23.3637 1.53727 23.0162 1.18978C22.6687 0.842284 22.1974 0.647064 21.7059 0.647064H14.2942C13.8027 0.647064 13.3314 0.842284 12.9839 1.18978C12.6364 1.53727 12.4412 2.00857 12.4412 2.50001C12.4412 2.99144 12.6364 3.46274 12.9839 3.81023C13.3314 4.15773 13.8027 4.35295 14.2942 4.35295H16.1471V5.58824H15.5295C15.3657 5.58824 15.2086 5.65331 15.0927 5.76914C14.9769 5.88498 14.9118 6.04208 14.9118 6.20589V8.05883C14.0928 8.05883 13.3073 8.3842 12.7281 8.96335C12.1489 9.54251 11.8236 10.328 11.8236 11.1471H4.41181V10.5294C4.41181 10.3656 4.34674 10.2085 4.23091 10.0927C4.11508 9.97684 3.95798 9.91177 3.79417 9.91177H1.94123V9.29412C1.94123 9.13031 1.87615 8.97321 1.76032 8.85738C1.64449 8.74155 1.48739 8.67648 1.32358 8.67648C1.15977 8.67648 1.00267 8.74155 0.886837 8.85738C0.771006 8.97321 0.705933 9.13031 0.705933 9.29412V19.1765C0.705933 19.3403 0.771006 19.4974 0.886837 19.6132C1.00267 19.729 1.15977 19.7941 1.32358 19.7941C1.48739 19.7941 1.64449 19.729 1.76032 19.6132C1.87615 19.4974 1.94123 19.3403 1.94123 19.1765V18.5588H3.79417C3.95798 18.5588 4.11508 18.4938 4.23091 18.3779C4.34674 18.2621 4.41181 18.105 4.41181 17.9412V17.3235H11.8236C11.8236 18.1426 12.1489 18.9281 12.7281 19.5072C13.3073 20.0864 14.0928 20.4118 14.9118 20.4118H21.0883C21.9073 20.4118 22.6928 20.0864 23.272 19.5072C23.8512 18.9281 24.1765 18.1426 24.1765 17.3235H27.2648C27.4286 17.3235 27.5857 17.3886 27.7015 17.5044C27.8173 17.6203 27.8824 17.7774 27.8824 17.9412V21.6471H27.2648C27.1009 21.6471 26.9438 21.7121 26.828 21.828C26.7122 21.9438 26.6471 22.1009 26.6471 22.2647V24.7353C26.6471 24.8991 26.7122 25.0562 26.828 25.172C26.9438 25.2879 27.1009 25.3529 27.2648 25.3529H34.6765C34.8403 25.3529 34.9974 25.2879 35.1133 25.172C35.2291 25.0562 35.2942 24.8991 35.2942 24.7353V22.2647C35.2942 22.1009 35.2291 21.9438 35.1133 21.828C34.9974 21.7121 34.8403 21.6471 34.6765 21.6471ZM13.6765 2.50001C13.6765 2.3362 13.7416 2.17909 13.8574 2.06326C13.9733 1.94743 14.1304 1.88236 14.2942 1.88236H21.7059C21.8697 1.88236 22.0268 1.94743 22.1427 2.06326C22.2585 2.17909 22.3236 2.3362 22.3236 2.50001C22.3236 2.66382 22.2585 2.82092 22.1427 2.93675C22.0268 3.05258 21.8697 3.11765 21.7059 3.11765H14.2942C14.1304 3.11765 13.9733 3.05258 13.8574 2.93675C13.7416 2.82092 13.6765 2.66382 13.6765 2.50001ZM17.3824 4.35295H18.6177V5.58824H17.3824V4.35295ZM16.1471 6.82353H19.853V8.05883H16.1471V6.82353ZM3.17652 17.3235H1.94123V11.1471H3.17652V17.3235ZM4.41181 16.0882V12.3824H11.8236V16.0882H4.41181ZM22.9412 17.3235C22.9412 17.815 22.746 18.2863 22.3985 18.6338C22.051 18.9813 21.5797 19.1765 21.0883 19.1765H14.9118C14.4204 19.1765 13.9491 18.9813 13.6016 18.6338C13.2541 18.2863 13.0589 17.815 13.0589 17.3235V11.1471C13.0589 10.6556 13.2541 10.1843 13.6016 9.83684C13.9491 9.48934 14.4204 9.29412 14.9118 9.29412H21.0883C21.5797 9.29412 22.051 9.48934 22.3985 9.83684C22.746 10.1843 22.9412 10.6556 22.9412 11.1471V17.3235ZM27.2648 16.0882H24.1765V12.3824H29.7353C30.5544 12.3824 31.3399 12.7077 31.9191 13.2869C32.4982 13.866 32.8236 14.6515 32.8236 15.4706V21.6471H29.1177V17.9412C29.1177 17.4498 28.9225 16.9784 28.575 16.631C28.2275 16.2835 27.7562 16.0882 27.2648 16.0882ZM34.0589 24.1177H27.8824V22.8824H34.0589V24.1177Z"
				fill="white"></path>
		</svg>
	</ServiceSection>
	<ServiceSection
		title="Bathroom and Toilet"
		description="Sink, shower, bath and toilet installation, repair and servicing."
		><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
			><path
				d="M50 24H31a2.002 2.002 0 0 0-2 2v2h-3V7a3.003 3.003 0 0 0-3-3h-8a3.003 3.003 0 0 0-3 3v30a5.008 5.008 0 0 0 4 4.899V59a1 1 0 0 0 1 1h28a1 1 0 0 0 .888-1.46A34.645 34.645 0 0 1 41.994 42H42a10.011 10.011 0 0 0 10-10v-6a2.002 2.002 0 0 0-2-2Zm-19 2h19v2H31ZM14 10h10v18H14Zm1-4h8a1.001 1.001 0 0 1 1 1v1H14V7a1.001 1.001 0 0 1 1-1Zm26.029 45.237A37.008 37.008 0 0 0 43.396 58H18V42h21.974a36.999 36.999 0 0 0 1.055 9.237ZM50 32a8.01 8.01 0 0 1-8 8H17a3.003 3.003 0 0 1-3-3v-7h36Z"
			></path><path d="M22 11h-2a1 1 0 0 0-1 1v1a1 1 0 0 0 2 0h1a1 1 0 0 0 0-2Z"
			></path>
		</svg>
	</ServiceSection>
	<ServiceSection
		title="Hot Water"
		description="Gas, electric and solar hot water system install, repair and servicing."
		><svg
			xmlns="http://www.w3.org/2000/svg"
			data-name="Layer 1"
			viewBox="0 0 24 24"
			><path
				d="M9.5,14h5a.5.5,0,0,0,0-1h-5a.5.5,0,0,0,0,1Zm7-14h-9A2.5,2.5,0,0,0,5,2.5v14A2.5,2.5,0,0,0,7,19,2.5,2.5,0,0,0,9.5,21v2a.5.5,0,0,0,0,1h1a.5.5,0,0,0,0-1V21h3v2a.5.5,0,0,0,0,1h1a.5.5,0,0,0,0-1V21A2.5,2.5,0,0,0,17,19a2.5,2.5,0,0,0,2-2.45V2.5A2.5,2.5,0,0,0,16.5,0Zm-2,20h-5a1.5,1.5,0,0,1-1.41-1h7.83A1.5,1.5,0,0,1,14.5,20ZM18,16.5A1.5,1.5,0,0,1,16.5,18h-9A1.5,1.5,0,0,1,6,16.5V16H18ZM18,15H6V4H18ZM18,3H6V2.5A1.5,1.5,0,0,1,7.5,1h9A1.5,1.5,0,0,1,18,2.5Zm-6,8A3,3,0,1,0,9,8,3,3,0,0,0,12,11Zm0-5a2,2,0,1,1-2,2A2,2,0,0,1,12,6Z"
			></path>
		</svg>
	</ServiceSection>
	<ServiceSection
		title="Blocked Drains"
		description="Residential and industrial, pipe inspection and relining, drain installation, cleaning and repairs."
		><svg
			xmlns="http://www.w3.org/2000/svg"
			width="64"
			height="64"
			enable-background="new 0 0 64 64"
			viewBox="0 0 64 64"
			><path
				d="M49.323,56.309c-0.553,0-1-0.448-1-1c0-6.558-7.322-11.894-16.323-11.894S15.677,48.75,15.677,55.309
					c0,0.552-0.447,1-1,1s-1-0.448-1-1c0-7.661,8.22-13.894,18.323-13.894s18.323,6.232,18.323,13.894
					C50.323,55.861,49.876,56.309,49.323,56.309z"
			></path><path
				d="M49.129 60.26H14.871c-1.521 0-2.76-1.239-2.76-2.762 0-1.522 1.238-2.76 2.76-2.76h34.258c1.521 0 2.76 1.238 2.76 2.76C51.889 59.021 50.65 60.26 49.129 60.26zM14.871 56.738c-.419 0-.76.341-.76.76 0 .42.341.762.76.762h34.258c.419 0 .76-.342.76-.762 0-.419-.341-.76-.76-.76H14.871zM35.69 43.711c-.553 0-1-.448-1-1V8.751c0-.822-.29-1.59-.817-2.165C33.367 6.042 32.7 5.74 32 5.74c-1.483 0-2.69 1.351-2.69 3.011v33.96c0 .552-.447 1-1 1s-1-.448-1-1V8.751c0-2.763 2.104-5.011 4.69-5.011 1.262 0 2.449.529 3.343 1.489.871.95 1.348 2.199 1.348 3.522v33.96C36.69 43.263 36.243 43.711 35.69 43.711z"
			></path>
		</svg>
	</ServiceSection>
	<ServiceSection
		title="Gas Fitting and Servicing"
		description="Cooktop, stove, BBQ, gas bayonet, hot water installation and repairs."
		><svg
			xmlns="http://www.w3.org/2000/svg"
			enable-background="new 0 0 500 500"
			viewBox="0 0 500 500"
			><path
				d="M403.3,85.3H96.7c-22.2,0-40.2,18-40.2,40.2v248.9c0,22.2,18,40.2,40.2,40.2h306.7c22.2,0,40.2-18,40.2-40.2V125.5
		C443.6,103.3,425.5,85.3,403.3,85.3z M380.7,398.6H96.7c-13.3,0-24.1-10.8-24.1-24.1V125.5c0-13.3,10.8-24.1,24.1-24.1h284.1V398.6
		z M427.5,374.5c0,13.3-10.8,24.1-24.1,24.1h-6.5V101.4h6.5c13.3,0,24.1,10.8,24.1,24.1V374.5z"
			></path><path
				d="M90.6 159.2c-10.4 0-10.4 16.1 0 16.1 1.7 0 3.5 0 5.2 0 3.7 18.7 18.7 33.4 37.6 36.7 0 2 0 4.1 0 6.1 0 10.4 16.1 10.4 16.1 0 0-2 0-4.1 0-6.1 18.9-3.3 33.9-18 37.6-36.7 1.7 0 3.5 0 5.2 0 10.4 0 10.4-16.1 0-16.1-1.6 0-3.3 0-4.9 0-3-19.7-18.3-35.3-37.9-38.8 0-1.3 0-2.7 0-4 0-10.4-16.1-10.4-16.1 0 0 1.3 0 2.7 0 4-19.5 3.4-34.9 19.1-37.9 38.8C93.9 159.2 92.2 159.2 90.6 159.2zM133.4 136.9c0 1.6 0 3.3 0 4.9 0 10.4 16.1 10.4 16.1 0 0-1.6 0-3.3 0-4.9 10.7 2.9 19 11.5 21.5 22.3-1.4 0-2.8 0-4.2 0-10.4 0-10.4 16.1 0 16.1 1.2 0 2.4 0 3.6 0-3.1 9.8-11 17.5-21 20.2 0-1 0-1.9 0-2.9 0-10.4-16.1-10.4-16.1 0 0 1 0 1.9 0 2.9-10-2.7-17.9-10.4-21-20.2 1.2 0 2.4 0 3.6 0 10.4 0 10.4-16.1 0-16.1-1.4 0-2.8 0-4.2 0C114.4 148.4 122.7 139.8 133.4 136.9zM192.3 315.8c-1.6 0-3.3 0-4.9 0-3-19.7-18.3-35.3-37.9-38.8 0-1.3 0-2.7 0-4 0-10.4-16.1-10.4-16.1 0 0 1.3 0 2.7 0 4-19.5 3.4-34.9 19.1-37.9 38.8-1.6 0-3.3 0-4.9 0-10.4 0-10.4 16.1 0 16.1 1.7 0 3.5 0 5.2 0 3.7 18.7 18.7 33.4 37.6 36.7 0 2 0 4.1 0 6.1 0 10.4 16.1 10.4 16.1 0 0-2 0-4.1 0-6.1 18.9-3.3 33.9-18 37.6-36.7 1.7 0 3.5 0 5.2 0C202.6 331.9 202.7 315.8 192.3 315.8zM166.9 331.9c1.2 0 2.4 0 3.6 0-3.1 9.8-11 17.5-21 20.2 0-1 0-1.9 0-2.9 0-10.4-16.1-10.4-16.1 0 0 1 0 1.9 0 2.9-10-2.7-17.9-10.4-21-20.2 1.2 0 2.4 0 3.6 0 10.4 0 10.4-16.1 0-16.1-1.4 0-2.8 0-4.2 0 2.6-10.8 10.9-19.4 21.5-22.3 0 1.6 0 3.3 0 4.9 0 10.4 16.1 10.4 16.1 0 0-1.6 0-3.3 0-4.9 10.7 2.9 19 11.5 21.5 22.3-1.4 0-2.8 0-4.2 0C156.5 315.8 156.5 331.9 166.9 331.9zM404.3 331.1c0 8.5 0 16.9 0 25.4 0 10.4 16.1 10.4 16.1 0 0-8.5 0-16.9 0-25.4C420.4 320.7 404.3 320.7 404.3 331.1zM404.3 269.2c0 8.5 0 16.9 0 25.4 0 10.4 16.1 10.4 16.1 0 0-8.5 0-16.9 0-25.4C420.4 258.9 404.3 258.9 404.3 269.2zM404.3 207.4c0 8.5 0 16.9 0 25.4 0 10.4 16.1 10.4 16.1 0 0-8.5 0-16.9 0-25.4C420.4 197 404.3 197 404.3 207.4zM404.3 145.6c0 8.5 0 16.9 0 25.4 0 10.4 16.1 10.4 16.1 0 0-8.5 0-16.9 0-25.4C420.4 135.2 404.3 135.2 404.3 145.6zM255.5 175.3c1.7 0 3.5 0 5.2 0 3.7 18.7 18.7 33.4 37.6 36.7 0 2 0 4.1 0 6.1 0 10.4 16.1 10.4 16.1 0 0-2 0-4.1 0-6.1 18.9-3.3 33.9-18 37.6-36.7 1.7 0 3.5 0 5.2 0 10.4 0 10.4-16.1 0-16.1-1.6 0-3.3 0-4.9 0-3-19.7-18.3-35.3-37.9-38.8 0-1.3 0-2.7 0-4 0-10.4-16.1-10.4-16.1 0 0 1.3 0 2.7 0 4-19.5 3.4-34.9 19.1-37.9 38.8-1.6 0-3.3 0-4.9 0C245.1 159.2 245.1 175.3 255.5 175.3zM298.3 136.9c0 1.6 0 3.3 0 4.9 0 10.4 16.1 10.4 16.1 0 0-1.6 0-3.3 0-4.9 10.7 2.9 19 11.5 21.5 22.3-1.4 0-2.8 0-4.2 0-10.4 0-10.4 16.1 0 16.1 1.2 0 2.4 0 3.6 0-3.1 9.8-11 17.5-21 20.2 0-1 0-1.9 0-2.9 0-10.4-16.1-10.4-16.1 0 0 1 0 1.9 0 2.9-10-2.7-17.9-10.4-21-20.2 1.2 0 2.4 0 3.6 0 10.4 0 10.4-16.1 0-16.1-1.4 0-2.8 0-4.2 0C279.3 148.4 287.6 139.8 298.3 136.9zM255.5 331.9c1.7 0 3.5 0 5.2 0 3.7 18.7 18.7 33.4 37.6 36.7 0 2 0 4.1 0 6.1 0 10.4 16.1 10.4 16.1 0 0-2 0-4.1 0-6.1 18.9-3.3 33.9-18 37.6-36.7 1.7 0 3.5 0 5.2 0 10.4 0 10.4-16.1 0-16.1-1.6 0-3.3 0-4.9 0-3-19.7-18.3-35.3-37.9-38.8 0-1.3 0-2.7 0-4 0-10.4-16.1-10.4-16.1 0 0 1.3 0 2.7 0 4-19.5 3.4-34.9 19.1-37.9 38.8-1.6 0-3.3 0-4.9 0C245.1 315.8 245.1 331.9 255.5 331.9zM298.3 293.5c0 1.6 0 3.3 0 4.9 0 10.4 16.1 10.4 16.1 0 0-1.6 0-3.3 0-4.9 10.7 2.9 19 11.5 21.5 22.3-1.4 0-2.8 0-4.2 0-10.4 0-10.4 16.1 0 16.1 1.2 0 2.4 0 3.6 0-3.1 9.8-11 17.5-21 20.2 0-1 0-1.9 0-2.9 0-10.4-16.1-10.4-16.1 0 0 1 0 1.9 0 2.9-10-2.7-17.9-10.4-21-20.2 1.2 0 2.4 0 3.6 0 10.4 0 10.4-16.1 0-16.1-1.4 0-2.8 0-4.2 0C279.3 305 287.6 296.4 298.3 293.5z"
			></path>
		</svg>
	</ServiceSection>
</div>
