---
import { PhoneIcon } from "@heroicons/react/24/outline";
import ServiceSection from "./ServiceSection.astro";
---

<div class="px-12 py-16 bg-white">
  <div class="container">
    <div class="flex flex-col md:flex-row gap-2 justify-between py-12">
      <div class="flex-1 flex flex-col gap-2">
        <h1 class="text-4xl text-montserrat text-tertiary">
          Our <span class="font-bold">services</span>
        </h1>
        <p class="text-lg text-tertiary">
          Our team delivers fast repairs, fixes, and reliable maintenance for
          homes and businesses to keep your pipes and drains flowing smoothly.
        </p>
      </div>
      <div class="flex-1 justify-end items-center flex gap-2">
        <a
          class="px-6 py-3 font-bold bg-primary hover:bg-primary-dark rounded-full text-white flex"
          href="tel:+61402246252"
          ><PhoneIcon className="size-6 mr-2" /> 0402 246 252</a
        >
        <a
          target="_blank"
          class="px-6 py-3 font-bold bg-tertiary rounded-full text-white flex"
          href="https://book.servicem8.com/request_service_online_booking?strVendorUUID=006d09d9-1dc2-4bd8-832e-5962ab602efb&strPreviewServiceUUID=2232b257-4bae-487e-afea-23a781b098fb#2232b257-4bae-487e-afea-23a781b098fb"
          >Book Now</a
        >
      </div>
    </div>
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-8">
      <ServiceSection
        title="Leaking Taps and Pipes"
        description="Sink tap install, repair and servicing. Identification, locating and repair of leaking pipes."
        price="195"
      >
        <img src="Plumbing.jpeg" class="object-cover h-full" />
      </ServiceSection>
      <ServiceSection
        title="Bathroom and Toilet"
        description="Sink, shower, bath and toilet installation, repair and servicing."
        ><img src="Plumbing.jpeg" class="object-cover h-full" />
      </ServiceSection>
      <ServiceSection
        title="Hot Water"
        description="Gas, electric and solar hot water system install, repair and servicing."
        ><img src="Plumbing.jpeg" class="object-cover h-full" />
      </ServiceSection>
      <ServiceSection
        title="Blocked Drains"
        description="Residential and industrial, pipe inspection and relining, drain installation, cleaning and repairs."
        ><img src="Plumbing.jpeg" class="object-cover h-full" />
      </ServiceSection>
      <ServiceSection
        title="Gas Fitting and Servicing"
        description="Cooktop, stove, BBQ, gas bayonet, hot water installation and repairs."
        ><img src="Plumbing.jpeg" class="object-cover h-full" />
      </ServiceSection>
    </div>
  </div>
</div>
