---
import ServiceSection from './ServiceSection.astro';
---

<div
	class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 py-32 sm:py-16 lg:py-48 gap-12 container"
>
	<h1
		class="text-5xl font-black lg:row-span-3 lg:col-span-1 md:col-span-2 text-black"
	>
		Our Services
	</h1>
	<ServiceSection
		title="Leaking Taps and Pipes"
		description="Sink tap install, repair and servicing. Identification, locating and repair of leaking pipes."
	/>
	<ServiceSection
		title="Bathroom and Toilet"
		description="Sink, shower, bath and toilet installation, repair and servicing."
	/>
	<ServiceSection
		title="Hot Water"
		description="Gas, electric and solar hot water system install, repair and servicing."
	/>
	<ServiceSection
		title="Blocked Drains"
		description="Residential and industrial, pipe inspection and relining, drain installation, cleaning and repairs."
	/>
	<ServiceSection
		title="Gas Fitting and Servicing"
		description="Cooktop, stove, BBQ, gas bayonet, hot water installation and repairs."
	/>
</div>
