---
import TestimonialsCarousel from "./TestimonialsCarousel.jsx";
---

<section class="py-20 px-4">
  <div class="container">
    <div class="text-center mb-12">
      <h2 class="text-4xl text-montserrat text-tertiary">
        What Our <span class="font-bold">Customers Say</span>
      </h2>
    </div>
    <TestimonialsCarousel client:visible />
  </div>
</section>
